# [ lightcurves ]
LC_DIR="lightcurves"
LC_DETREND_DIR="lightcurves_detrend"
LC_TRIM_DIR="lightcurves_trim"
LC_TIME_COLUMN=1
LC_MAG_COLUMN=2
LC_ERR_COLUMN=3
LC_TIME_PREFIX=2450000.0
LC_SUFFIX=.dat

# [ Fourier Transform ]
FT_start=0
FT_stop=350
FT_step_factor=0.2
RESID_FILE="resid"${LC_SUFFIX}
MODEL_FILE="model"${LC_SUFFIX}

# [ Other ]
EDITOR="gvim -f"
